
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    z-index: 10;
    top: 50px;
    right: 0;
    width: 400px;
}

.main-nav, .main-nav ul li {
    display: inline-block;
}

li {
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    margin-right: 50px;
    
}

.main-nav {
    position: relative;
}

.main-nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding-top: 10px;
    font-size: 30px;
}

.container {
    
    position: relative;
}

.red {
    background-color: red;
    height: 100vh;
}

.green {
    background-color: lightgreen;
    height: 100vh;
}

.yellow {
    background-color: yellow;
    height: 100vh;
}

.red-box {
    position: relative;
    width: 800px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green-box {
    position: relative;
    width: 800px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yellow-box {
    position: relative;
    width: 800px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yellow-text {
    color: yellow;
}

.green-text {
    color: green;
}

.text {
    text-align: center;
    font-size: 40px;
}